* {
  border: 1px solid rgb(33, 102, 67);
}

p, h2 {
  padding: 20px;
}

.body {
  background-color: rgb(27, 27, 27);
}

.header {
  background-image: url('https://wallpapercave.com/wp/SxtCE1O.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-title {
  padding: 20px;
  font-weight: bold;
  font-size: 3rem;
}

.icon-container {
    text-align: center;
}

.section-video {
  color: rgb(241, 241, 241);
}

.fas {
  box-shadow: 5px 10px 8px 10px #888888;
  animation: MoveUpDown 2s linear infinite;
  position: absolute;
  border-radius: 50%;
}

@keyframes MoveUpDown {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 60px;
  }
}

.video-container {
  min-width: 300px;
  min-height: 400px;
  text-align: center;
}

.video-title {
  text-align: center;
}

.video-story {
  margin: auto 0;
}
