body {
  margin: 0;
}

* {
  border: 1px solid rgb(152, 210, 250);
}

a:hover {
  text-decoration: none;
}

#header {
  min-height: 50px;
  background-color: rgba(24, 24, 24, 0.7);
  display: flex;
  justify-content: space-between;
  font-size: 1.8rem;
  margin: 30vh 5vh;
  padding: 10px 20px;
  border: 1px solid rgb(71, 71, 71);
  border-radius: 25px;
}

#section-background-button {
  display: flex;
  justify-content: center;
}

.logo {
  color: rgb(218, 182, 28);
  font-weight: bold;
}
.site-wrapper {
  height: 100vh;
  background-image: url('https://source.unsplash.com/random/1920x1080');
}

.site-nav a {

}

.site-nav a:hover {
  -ms-transition: 0.4s ease-in-out;
-webkit-transition: 0.4s ease-in-out;
transition: 0.4s ease-in-out;

  color: rgb(33, 189, 95);

}

.button-green {
  color: rgb(51, 208, 51);
}

.button-refresh {
  color: #fff;
  background-color: rgba(88, 103, 235, 0.8);
  padding: 15px;
  border: rgb(0, 0, 0);
  border-radius: 25px;
  font-size: 1.2rem;
}

.button-refresh:hover {
  color: #000;
}
